{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Project</legend>
                <div class="form-group">
                    {{ form.projectname.label(class="form-control-label") }}
                    {% if form.projectname.errors %}
                        {{ form.projectname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.projectname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.projectname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-row">   
                    <div class="form-group col">
                        {{ form.projectmanager.label(class="form-control-label") }}
                        {% if form.projectmanager.errors %}
                            {{ form.projectmanager(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectmanager.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectmanager(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.sponsor.label(class="form-control-label") }}
                        {% if form.sponsor.errors %}
                            {{ form.sponsor(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.sponsor.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.sponsor(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.projectstatus.label(class="form-control-label") }}
                        {% if form.projectstatus.errors %}
                            {{ form.projectstatus(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectstatus.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectstatus(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>    
                    <div class="form-group col-md-3">
                        {{ form.start.label(class="form-control-label") }}
                        {% if form.start.errors %}
                            {{ form.start(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.start.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.start(class="form-control form-control-lg", placeholder="e.g. Q1 FY20") }}
                        {% endif %}
                    </div>
                    <div class="form-group col-md-3">
                        {{ form.end.label(class="form-control-label") }}
                        {% if form.end.errors %}
                            {{ form.end(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.end.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.end(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        {{ form.approvaldate.label(class="form-control-label") }}
                        {% if form.approvaldate.errors %}
                            {{ form.approvaldate(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.approvaldate.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.approvaldate(class="form-control form-control-lg", placeholder="dd/MM/yyyy") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.ragstatus.label(class="form-control-label") }}
                        {% if form.ragstatus.errors %}
                            {{ form.ragstatus(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.ragstatus.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.ragstatus(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.projectphase.label(class="form-control-label") }}
                        {% if form.projectphase.errors %}
                            {{ form.projectphase(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectphase.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectphase(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.projectcode.label(class="form-control-label") }}
                        {% if form.projectcode.errors %}
                            {{ form.projectcode(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectcode.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectcode(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.keydriver.label(class="form-control-label") }}
                    {% if form.keydriver.errors %}
                        {{ form.keydriver(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.keydriver.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.keydriver(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.alignmentstrategy.label(class="form-control-label") }}
                    {% if form.alignmentstrategy.errors %}
                        {{ form.alignmentstrategy(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.alignmentstrategy.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.alignmentstrategy(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        {{ form.projectscore.label(class="form-control-label") }}
                        {% if form.projectscore.errors %}
                            {{ form.projectscore(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectscore.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectscore(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.approvedbudget.label(class="form-control-label") }}
                        {% if form.approvedbudget.errors %}
                            {{ form.approvedbudget(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.approvedbudget.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.approvedbudget(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.projectedspend.label(class="form-control-label") }}
                        {% if form.projectedspend.errors %}
                            {{ form.projectedspend(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectedspend.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectedspend(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        {{ form.actualspend.label(class="form-control-label") }}
                        {% if form.actualspend.errors %}
                            {{ form.actualspend(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.actualspend.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.actualspend(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.projectedsaving.label(class="form-control-label") }}
                        {% if form.projectedsaving.errors %}
                            {{ form.projectedsaving(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectedsaving.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectedsaving(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group col">
                        {{ form.projectedrevenue.label(class="form-control-label") }}
                        {% if form.projectedrevenue.errors %}
                            {{ form.projectedrevenue(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.projectedrevenue.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.projectedrevenue(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.ragcomments.label(class="form-control-label") }}
                    {% if form.ragcomments.errors %}
                        {{ form.ragcomments(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ragcomments.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ragcomments(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}