  
{% extends "layout.html" %}
{% block content %}
  {{ table }}
  <div class="row mx-md-n5"></div>
    <div class="col px-md-5", style="border-top: 1px solid silver;"></div><div class="p-3">Return to <a href="{{ url_for('search') }}"> Search </a></div></div>  
  </div>
{% endblock content %}