  
{% extends "layout.html" %}
{% block content %}
  <div class="row mx-md-n5"></div>
    <div class="col px-md-5"></div><div class="p-3">Click <a href="{{ url_for('search') }}"> here </a> to Search</div></div>  
  </div>
    {{ table }}
{% endblock content %}

